@tailwind base;
@tailwind components;
@tailwind utilities;


 /* width */
.styled-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
.styled-scrollbar::-webkit-scrollbar-track {
    background: #ff0000;
  }
  
  /* Handle */
 .styled-scrollbar::-webkit-scrollbar-thumb {
    background: #ff0000;
  }
  
  /* Handle on hover */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

.styled-scrollbar{
    scrollbar-color: white transparent;
}

body{
    overflow-x: hidden;
}