@tailwind base;
@tailwind components;
@tailwind utilities;


 /* width */
.styled-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
.styled-scrollbar::-webkit-scrollbar-track {
    background:transparent;
  }
  
  /* Handle */
 .styled-scrollbar::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

.styled-scrollbar{
    scrollbar-color: white transparent;
}

body{
    overflow-x: hidden;
}